# https://yamllint.readthedocs.io/en/stable/configuration.html#default-configuration
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

# https://yamllint.readthedocs.io/en/stable/rules.html
rules:
  line-length: disable

  document-start:
    present: false
